@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 750;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00c0b1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    display: flex;
    width: 230px;
}

.itensHeader {
    display: flex;
    align-items: center;
}

.itensHeader ul li {
    font-size: 15px;
    display: inline;
    margin-right: 20px;
}

.itensHeader ul li a {
    color: #03203a;
    border: 7px solid #00c0b1;
    text-decoration: none;
}

.itensHeader ul li a:hover {
    color: #fff;
    border: 7px solid #03203a;
    background-color: #03203a;
    border-radius: 5px;
}
