
header {
    height: 180px;
    background-color: #F5F5F5;
    /*border: 1px solid #5e5e5e;*/

    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.header-logo {
    /*background-color: #699BF7;*/
    display: flex;
    gap: 20px;
}

.header-titulo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.header-titulo a {
    font-size: 28px;
    color: #13315C;
    text-decoration: none;
    font-weight: 500;
}

.header-titulo span {
    font-style: italic;
    font-weight: 300;
}

.icones {
    color: #699BF7;
    font-size: 4em;
}