.footer {
    height: 75px;
    background-color: #F5F5F5;
    border-top: 1px solid #5e5e5e;  
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
.footer span {
    color: #13315C;
    font-size: 16px;
}
.icones {
    color: #699BF7;
    font-size: 24px;
    margin-left: 15px;
}