.botao {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 4px;
    padding: 16px;
    font-size: 18px;
    border: none;
    margin: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.botao:hover {
    background-color: #282c34;
    color: #61dafb;
}