h1 {
    margin-bottom: 25px;;
}

li.completed {
    text-decoration: line-through;
    color: #888;
  }


main {
  display: flex;
  justify-content: center;
  align-items: center;
}

   /* .container {
height: 200px;
    background-color: aqua;
       border: 1px solid #dedede;
    border-radius: 10px;

    margin-top:50px;
    padding: 60px;
 
}
    */
    
main ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

main li {
    margin: 10px;
    padding: 15px;
    max-width: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  li:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  button.delete {
    background-color: #ffb7b7; /* Cor de fundo vermelha */
    color: #cc4f4f;
    font-weight: 600;
    padding: 5px;;
    border: 1px solid #cc4f4f;
    border-radius: 5px;
  
  }

  span {
    padding: 50px;
  }
  
  .iconify {
    margin-left: 5px;
    font-size: 1.2em; /* Tamanho do ícone */
    color: #cc4f4f;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')